<div class="container">
    <button routerLink="add" class="btn btn-primary">Add new product</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <td>{{i+1}}</td>
                <td><a routerLink="{{product.id}}">{{product.name}}</a> </td>
                <td>{{product.price}}</td>
                <td>
                    <button class="btn btn-danger" (click)="onHandleRemove(product.id)">Remove</button>
                    <a routerLink="{{product.id}}/update"><button class="btn btn-success">Update</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>